html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom header background */
header.navbar {
    background-color: #e8e8e8; /* deeper off-white */
}

footer.footer {
    text-align: center;
    justify-content: center;
    background-color: #f7f7f7; /* lighter off-white */
}
