@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card shadow-lg border-0">
                <div class="card-body">
                    <h1 class="display-4 text-primary mb-4">😂 Welcome to JokesApp! 😂</h1>
                    <p class="lead mb-4">
                        Feeling bored? Stressed? Or just need a laugh? <br />
                        You’re in the right place! We’ve got jokes so bad, they’re actually good. 🤡💥
                    </p>
                    <a href="/Jokes" class="btn btn-success btn-lg">Get a Joke 🤣</a>
                </div>
            </div>
        </div>
    </div>
</div>
